<!DOCTYPE html>
<div class="card">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <h6 class="card-subtitle"></h6>
        <div id="additional_info"></div>
        <div class="example-container">
            <div class="example-preview"></div>
            <div class="example-markup-container">
                <div class="example-markup">
                    <pre class="language-html">
                        <code class="language-html"></code>
                    </pre>
                </div>
                <div class="example-markup-actions">
                <!--
                    <button class="markup-copy-action">Copy</button>
                    <button class="markup-view-action">View in Codepen</button>
                -->
                </div>
            </div>
        </div>
    </div>
</div>
